@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: #f2eae2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.writeup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.writeup-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.image-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

span {
  font-size: 12px;
  letter-spacing: 5px;
  color: #6c7289;
}

h1 {
  /* font-family: var(--fraunces-font); */
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  color: #1c232b;
  width: 210px;
  min-height: 96px;
}

p {
  font-size: 14px;
  line-height: 23px;
  color: #6c7289;
  width: 225px;
  min-height: 92px;
}

.price-container {
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#discounted-price {
  font-size: 32px;
  color: #3d8168;
  letter-spacing: 0px;
  font-weight: bold;
}

#original-price {
  letter-spacing: 0px;
  color: #6c7289;
  font-size: 13px;
  text-decoration: line-through;
}

button {
  background: #3d8168;
  color: white;
  width: 230px;
  height: 48px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

button:hover {
  background: #1a4032;
}

.cart {
  color: white;
}

#cart-image {
  width: 14.39px;
  height: 16px;
}

@media screen and (max-width: 625px) {
  .card {
    flex-direction: column;
    width: 343px;
    height: 611px;
    margin: 14px 0px;
  }

  .writeup-container {
    width: 343px;
    height: 374px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
  }

  .image-container {
    width: 343px;
    height: 240px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .writeup-center {
    margin: 16px 0;
    gap: 10px;
  }

  h1 {
    width: 295px;
    min-height: 50px;
  }

  button {
    width: 295px;
  }

  .perfume-image {
    transform: scale(1, 1.85);
  }

  .image-container {
    overflow: hidden;
  }
}
